<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>

    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>

    <title>Home</title>
</head>
<body>
    <h1>Welcome to chat room "{{ channel_name }}", {{ user["username"] }}!</h1>
    <button id="btn_home">Home</button>
    <input type="text" id="input_message" placeholder="Send a message!">
    <button id="btn_send">Send</button>
</body>
</html>