<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>

    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>

    <title>chat / {{ channel_name }}</title>
</head>
<body>
    <h1>Welcome to "{{ channel_name }}", {{ username }}!</h1>
    <button id="btn_home">Home</button>
    <input type="text" id="input_message" placeholder="Send a message!">
    <button id="btn_send">Send</button>
    <div id="chat">
        {% for message in messages: %}
        <div class=message data-id={{ message.message_id }}>
            <strong>{{ message.username }}</strong>: {{ message.message }} (<i>{{ message.timestamp }}</i>)
        </div>
        {% endfor %}
    </div>
</body>
</html>