<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <title>Document</title>
</head>
<body>
    <h1>Hello, World!</h1>

    <div>
        <input type="text" id="username" placeholder="Username">
        <input type="text" id="password" placeholder="Password">
        <button id="btn_connect">Connect</button>
        <button id="btn_leave">Leave</button>
    </div>

</body>
</html>